web-ext-artifacts/
__pycache__/
Backendx/networks/generator.zip
Backendx/manga/*
.vs/
Backend/networks/generator.zip
Backend/networks/GigaGan.ckpt
!TrainingUtilities/checkpoints/**/latest_net*
TrainingUtilities/checkpoints/**/*
TrainingUtilities/data/training_dataset/*