web-ext-artifacts/
__pycache__/
Backendx/networks/generator.zip
Backendx/manga/*
.vs/
Backend/networks/generator.zip
Backend/networks/GigaGan.ckpt
Training-Utilities/checkpoints/**/*
!Training-Utilities/checkpoints/**/latest_net*