web-ext-artifacts/
__pycache__/
Backendx/networks/generator.zip
Backendx/manga/*
.vs/
Backend/networks/generator.zip
Backend/networks/GigaGan.ckpt
TrainingUtilities/checkpoints/tbv_colorization_training_experiment/**
!TrainingUtilities/checkpoints/tbv_colorization_training_experiment/latest*.pth
TrainingUtilities/data/training_dataset/*